body {
background-color: #000 !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title-text {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  text: capitalize;
}

.students  {
  color: white;
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
}


.image img {
  position: relative;

  width: 100%;
}



.image2 img {
  position: relative;

  width: 120%;
}
