body {
    background-color: #000 !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title-text {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    color: #c2b280;
}

.name-text {
  color: #c2b280;
  text-align: center;
}

.mail-text {
  color: #c2b280;
  text-align: center;
  padding-bottom: 10px;
}
