body {
  background-color: #000 !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bk-image {
  width: 100%;
  height: 100%;
  justify-content: center;
  border: blue;
}

.image-content-overlay{
  background-color:#000;
  opacity: 0.5;
}

.bk-padding {
  padding-left: 370px;
}

.text {
  color: #c2b280;
  text-align: center;
}

.title-text {
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
  color: #c2b280;
}

.download {
  padding-top: 25px;
  text-align: center;
}

a:hover{
  opacity: 1;
}

.nav-text {
color: #c2b280 !important;
}